@media (max-width: 768px) {
  .row-4-1 {
    margin-top: 0!important;
    text-align: center!important;
  }
  td + td {
    text-align: center;
  }
  .main-2 tr img {
    margin-right: 0!important;
  }
}
@media (max-width: 1280px) {
  .row-4-1 {
    text-align: center!important;
    border: none!important;
  }
  .close {
    opacity: 1!important;
  }
}
@media (min-width: 320px) {
  .wrapper {
    width: 85%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}
#container .tc {
  margin-bottom: 2rem;
}
#container span {
  display: inline-block;
  background: url("row-1.png") no-repeat;
}
#container .span-1 {
  background-position: -112px 0px;
  width: 43px;
  height: 62px;
}
#container .span-2 {
  background-position: 0px 0px;
  width: 60px;
  height: 48px;
  margin-top: 14px;
}
#container .span-3 {
  background-position: -60px 0px;
  width: 52px;
  height: 55px;
  margin-top: 7px;
}
#container p {
  margin: 2rem 0;
  font-weight: bold;
  font-size: 2.2rem;
}
#container p + p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.8rem;
}
#container .row-4 .row-4-1 {
  margin-left: -10%;
  padding-left: 10%;
  padding-top: 5rem;
  padding-bottom: 3rem;
  text-align: left;
  border-left: 1px dashed gainsboro;
}
#container .row-4 .row-4-1 span {
  background: url("head.png") no-repeat;
  display: inline-block;
  background-position: 0px 0px;
  width: 13px;
  height: 13px;
  margin-top: 7px;
}
#container .row-4 .row-4-1 h1 {
  display: inline-block;
  margin: 0 0 0 5%;
  font-size: 1.6rem;
  color: #29B078;
}
#container .row-4 .row-4-1 p {
  margin: 0;
  line-height: 2rem;
  font-size: 1.6rem;
  font-weight: normal;
}
.p {
  float: left;
  width: 100%;
  font-size: 2rem;
  height: 8rem;
  line-height: 8rem;
  text-align: center;
  font-weight: bold;
}
.main-2 p {
  float: left;
  width: 100%;
  font-size: 2rem;
  height: 8rem;
  line-height: 8rem;
  text-align: center;
  font-weight: bold;
}
.main-2 tr td {
  width: 4rem;
  height: 8rem;
  padding-right: 6%;
}
.main-2 tr td span {
  display: block;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  color: #29B078;
  font-size: 1.6rem;
  background: white;
  border-radius: 4rem;
  border: 1px solid white;
  box-shadow: 1px 1px 1px 1px gainsboro;
  -webkit-box-shadow: 1px 1px 1px 1px gainsboro;
  -moz-box-shadow: 1px 1px 1px 1px gainsboro;
}
.main-2 tr td + td {
  width: auto;
  line-height: 2rem;
}
.main-2 tr td + td + td {
  padding-right: 0;
  width: 26px;
  text-align: right;
  margin-right: -5%;
}
.main-2 tr img {
  margin-right: -75%;
}
.main-2 tr .close {
  opacity: 0;
}
#main-3 {
  position: relative;
}
#main-3 p {
  float: left;
  width: 100%;
  font-size: 2rem;
  height: 8rem;
  line-height: 8rem;
  text-align: center;
  font-weight: bold;
  float: none;
}
#ico {
  position: absolute;
  bottom: -30px;
  left: calc((100% - 60px)/2);
}
#ico a {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: 1px solid gainsboro;
  box-shadow: 1px 1px 1px 1px gainsboro;
  -webkit-box-shadow: 1px 1px 1px 1px gainsboro;
  -moz-box-shadow: 1px 1px 1px 1px gainsboro;
}
#ico .on {
  background: orange;
}
#ico .dis {
  display: block;
}
#ico .dn {
  display: none;
}
#ico td {
  text-align: center;
}
.nav-4 {
  left: 0;
  top: 0;
}
.nav-4 .nav-4-1 {
  margin-bottom: 2rem;
  background: white;
}
.nav-4 .nav-4-1 .padding-1 {
  padding: 2rem;
  box-shadow: 1px 1px 1px 1px gainsboro;
  -webkit-box-shadow: 1px 1px 1px 1px gainsboro;
  -moz-box-shadow: 1px 1px 1px 1px gainsboro;
}
.nav-4 .nav-4-1 .padding-1 td {
  text-align: center;
}
.nav-4 .nav-4-1 .padding-1 .td-1 {
  padding: 2rem 0 1rem;
  font-size: 2rem;
  font-weight: bolder;
}
.nav-4 .nav-4-1 .padding-1 .td-2 {
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.8rem;
  text-align: left;
}
