@media (min-width: 1280px) {
  .col-md-5 {
    width: 20%;
    margin: 0;
  }
}
.p {
  width: 100%;
  font-size: 2rem;
  height: 8rem;
  line-height: 8rem;
  text-align: center;
  font-weight: bold;
}
.main-4 {
  margin-bottom: 4rem;
}
.main-4 p {
  width: 100%;
  font-size: 2rem;
  height: 8rem;
  line-height: 8rem;
  text-align: center;
  font-weight: bold;
  margin-top: 3rem;
}
.main-4 .partner {
  width: auto;
  background: white;
  border: 1px solid #F8F8F8;
  box-shadow: -1px 1px 1px 1px gainsboro;
  -webkit-box-shadow: -1px 1px 1px 1px gainsboro;
  -moz-box-shadow: -1px 1px 1px 1px gainsboro;
}
.main-4 .partner a {
  display: inline-block;
  height: 12rem;
  text-align: center;
}
.main-4 .partner a img {
  padding: 3rem;
}
.main-4 .partner a:hover {
  box-shadow: -1px 1px 1px 1px gainsboro;
  -webkit-box-shadow: 1px 1px 1px 1px gainsboro, -1px -1px 1px 1px gainsboro;
  -moz-box-shadow: 1px 1px 1px 1px gainsboro;
}
.main-4 .main-4-2 {
  margin: 0 auto;
  line-height: 2.6rem;
}
.main-4 .main-4-2 a {
  display: inline-block;
  margin-right: 4.4%;
  font-size: 1.2rem;
  line-height: 2.5rem;
  text-align: center;
  text-decoration: none;
  color: gray;
}
.main-4 .main-4-2 a:hover {
  border-bottom: 1px solid green;
}
